* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
}

.fleet {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    align-items: start;
    gap: 10px;
    padding: 20px;

}

.filters {
    height: fit-content;
    top: 20px;
    position: sticky;
}



.fitlerBtn {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    background-color: #ffffff;
    color: #333;
    border: 1px solid #333;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    transition: all 0.3s ease;
}

.fitlerBtn:hover {
    background-color: #333;
    color: white;
}

.fitlerBtn, .closeBtn, .overlay {
    display: none;
}

@media (max-width: 768px){
    .container {
        display: block;
        padding: 1rem;
    }

    .fitlerBtn {
        display: block;
        width: 100%;
        padding: 12px;
    }

    .filters {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 80%;
        z-index: 1000;
        padding: 20px;
        background-color: #fff;
        box-shadow: 2px 0 10px rgba(0,0,0,0.2);
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        overflow-y: auto;
    }

    .filters.open {
        transform: translateX(0);
    }

    .closeBtn {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        z-index: 999;
        backdrop-filter: blur(2px);
    }
}
