.container {
    padding: 10px 100px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;

}

@media (max-width: 768px) {
    .container {
        padding: 0px 20px;
    }
    
    .benifits {
        grid-template-columns: 1fr;
        margin-bottom: 20px;
    }

}

.container h2 {
    text-align: center;
    font-size: 2.5rem;
}

.benifits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;

}


.logo {
    font-size: 3rem;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
