* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    text-decoration: none;
    color: black;
    max-width: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 10px;
}

.card a {
    text-decoration: none;
}

.card:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.seller_info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.seller_info span {
    font-weight: 600;
    font-size: 0.7rem;
}

.seller_info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}


.card  .car_img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.card_body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
}

.card_body h3 {
    font-weight: 500;
}

.price {
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 15px;
}