.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}

.backBtn {
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 8px 16px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.backBtn:hover {
    background-color: #f0f0f0;
    transform: translateX(-5px);
}

.grid {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 3rem;
    align-items: start;
}


.silder {

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mainImageWrapper {
    position: relative;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.mainImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    display: block;
}

.sliderBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 8px 12px;
    z-index: 10;
    cursor: pointer;
    transform: all 0.3s;

}

.sliderBtn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.left {
    left: 10px;
    border-radius: 0 5px 5px 0;
}

.right {
    right: 10px;
    border-radius: 5px 0 0 5px;
}


.gallery {
    display: flex;
    gap: 10px;
    overflow-x: auto ;
    padding-bottom: 5px;
}


.thumb {
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;

    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.thumb:hover {
    opacity: 1;
}

.activeThumb {
    opacity: 1;
    border-color: #00c46a;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .mainImageWrapper {
        height: 300px;
    }

    .thumb {
        width: 60px;
        height: 45px;
    }
}


.infoSection h1{
    margin-bottom: 0.5rem;
}

.price { color: #00c46a; margin-bottom: 1.5rem; font-size: 1.5rem; }

.badges {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.badges span {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.sellerBox {
  margin-top: 30px;
  padding: 25px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.wtspBtn {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    background-color:#00c46a;
    border-radius:5px ;
    transition: all 0.3s ease;
}

.wtspBtn:hover {
    background-color: white;
    color: #00c46a;
    border: 1px solid #00c46a;
    transform: translateY(-3px);
}