* {
    margin: 0;
    padding: 0;
}

.footer {
    margin-top: 20px;
    border-top: 1px solid #e0e0e0;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;

}


@media (max-width: 768px) {
    .footer {
        padding: 10px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .col {
        align-items: center;
    }
    
}
.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0;
}

.links {
    list-style: none;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.col a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}


.col a:hover {
    color: #555;
}


.col .links 
{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.socials{
    list-style: none;
    display: flex;

    gap: 15px;
}